@charset "UTF-8";
/* CSS par défaut */

html{

}


/* Styles globaux*/

body{
	width:60%;
	margin-left:20%;
	margin-right:75%;
	font-family:Verdana;
	background: center;
	background-repeat: repeat;
	background-position: 0 0;
	text-align:left;	
}

div.rightSidebar{
        width:20%;
	margin-left:60%;
	margin-right:auto;
	font-family:Verdana;
	background: center;
	background-repeat: repeat;
	background-position: 0 0;
	text-align:left;	
        position:absolute;
}
div.leftSidebar{
        width:15%;
	margin-left:-19%;
	margin-right:auto;
	font-family:Verdana;
	background: center;
	background-repeat: repeat;
	background-position: 0 0;
	text-align:left;	
        position:absolute;
        top : 15%;
}
div.leftSidebar a{
        text-decoration:none;
        color:#000;
        display:inline;
}

div.leftSidebar ul{
    list-style-type:none;
    margin:0;
    padding:0;
} 

div.leftSidebar li{
    background-color:#B98585;
    border: 1px #9e5555 solid;
    border-radius: 2px;
    cursor:hand; 
    cursor:pointer;
}
div.leftSidebar li:hover{
    background-color:#C69D9D;
}
/*this is about having a dropdown menu in the left sidebar*/
/*#navigation ul {display: none;} old code for non jquery script dropdown menu
#navigation li:hover ul {display: block;}
*/
.navigation ul li{
    margin-left : 10%;
}

div.menu a{
        text-decoration:none;
        color:#000;
        display:inline;
}

div.menu ul{
    list-style-type:none;
    margin:0;
    padding:0;
    width: 50%;
} 

div.menu li{
    background-color:#B98585;
    border: 1px #9e5555 solid;
    border-radius: 2px;
    cursor:hand; 
    cursor:pointer;
}
div.menu li ul{width: 100%;}
div.menu li:hover{
    background-color:#C69D9D;
}

h1{
	color:#9e5555;	
	text-align: left;
}

section1{
	
}

section2{

}

h2{
	color:#9e5555;
	text-align: left;
}

h3{
	color:#9e5555;
	text-align: left;
	margin-left:10px;
}

p{
	text-align:justify;
	margin-left: 5px;
	margin-right: 5px;
}

error{
	color:#FF0000;
	text-align:justify;
	margin-left: 5px;
	margin-right: 5px;

}

.error_form{
        color:#FF0000;
    font-size: 14px;
}

#image{
  max-width:70%;
  border: none;
  text-align:center;
}

#image_max{
  max-width:900px;
  display:none;
}

/* header */

.banniere
{
	background-image: url("../utils/bandeau.jpg");
	width: 900px;
	height: 230px;
}


/* footer */


#footer{
	clear:both;
	position:relative;
	vertical-align:bottom;
	margin: 0 auto 0;
}

.copyright{
	font-size:10px;
	text-align: center;
	margin-bottom: 8px;
}



/*helpboxes in <li> elements*/
li.helpbox{
    position:relative; /*this is the key*/
    text-decoration:none;
}

li.helpbox span{display: none}

li.helpbox:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:120%;
    right:88%;
    width:100%;
    border:5px solid #9e5555;
    background-color:#B98585; color:#000;
    text-align: center;
    font-size : small;
    padding:10px;
  }

  li.helpbox:hover span:after{ /*the span will display just on :hover state*/
    content:'';
    position:absolute;
    top:-11px;
    width:10px;
    height:10px;
    border-top:5px solid #9e5555;
    border-left:5px solid #9e5555;
    background:#B98585;
    left:97%;
    margin-left:-3%;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
  }
  /* for invisible buttons */
  button.invisible { 
      width:15%;
      background:none;
      border:none; 
      cursor:hand; 
      cursor:pointer;
  }
  
  /* generic helpboxes */
.hint{
    position:relative; /*this is the key*/
}
.hint span{display: none}

.hint:hover span{ /*the span will display just on :hover state*/
    display:inline;
    position:absolute;
    bottom:120%;
    left:70%;
    width:260px;
    border:5px solid #5882FA;
    background-color:#A9D0F5; color:#000;
    text-align: center;
    font-size : small;
    padding:5px;
  }

  .hint:hover span:after{ /*the span will display just on :hover state*/
    content:'';
    position:absolute;
    bottom:-11px;
    width:10px;
    height:10px;
    border-bottom:5px solid #5882FA;
    border-right:5px solid #5882FA;
    background:#A9D0F5;
    right:90%;
    margin-right:-3%;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
  }
  
/*table*/
.classyTable {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
	
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
	
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
	
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}.classyTable table{
	width:100%;
	height:50%;
	margin:0px;padding:0px;
}.classyTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
}
.classyTable table tr:first-child th:first-child {
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}
.classyTable table tr:first-child th:last-child {
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
}.classyTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
}.classyTable tr:hover td{
	background-color:#ffffff;
		

}
.classyTable td{
	vertical-align:middle;
	
	background-color:#ffaa56;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:9px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.classyTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.classyTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.classyTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.classyTable tr:first-child th{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	
        background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.classyTable tr:first-child:hover th{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	
        background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
}
.classyTable tr:first-child th:first-child{
	border-width:0px 0px 1px 0px;
}
.classyTable tr:first-child th:last-child{
	border-width:0px 0px 1px 1px;
}

/* Graphe sigmajs */
.sigma-graph {
    background: none repeat scroll 0 0 #222222;
    border-radius: 4px 4px 4px 4px;
    height: 500px;
    width: 900px;
    position: relative;
}

/* Carte leaflet */
#map {
    width: 900px;
    height: 400px;
}