@charset "UTF-8";
/* CSS par défaut */

html{
    height:100%;
}
foot{
   position:relative;
   bottom:0%;
   left:0%;
   width:auto;
   right:33%;
}
/* color panel 
The color panel has two main colors (1st & 2nd), each with 3 level of brightness

blue :
1st heavy #0174DF
1st medium #81BEF7
1st light #A9D0F5

orange :
2nd heavy #ff7f00
2nd medium #ffaa56
2nd light #ffffff

*/
/* Styles globaux*/

body{
	width:60%;
	margin-left:20%;
	margin-right:75%;
	font-family:Verdana;
	background: center;
	background-repeat: repeat;
	background-position: 0 0;
	text-align:left;	
}

div.rightSidebar{
        width:20%;
	margin-left:60%;
	margin-right:auto;
	font-family:Verdana;
	background: center;
	background-repeat: repeat;
	background-position: 0 0;
	text-align:left;	
        position:absolute;
}
div.leftSidebar{
        width:15%;
	margin-left:-19%;
	margin-right:auto;
	font-family:Verdana;
	background: center;
	background-repeat: repeat;
	background-position: 0 0;
	text-align:left;	
        position:absolute;
        top : 15%;
}
div.leftSidebar a{
        text-decoration:none;
        color:#000;
        display:inline;
}

div.leftSidebar ul{
    list-style-type:none;
    margin:0;
    padding:0;
} 
span.cursorPointer{
    cursor:hand; 
    cursor:pointer;
} 

div.leftSidebar li{
    background-color:#81BEF7;
    border: 1px #0174DF solid;
    border-radius: 2px;
}
div.leftSidebar li:hover{
    background-color:#A9D0F5;
}
/*this is about having a dropdown menu in the left sidebar*/
/*#navigation ul {display: none;} old code for non jquery script dropdown menu
#navigation li:hover ul {display: block;}
*/
.navigation ul li{
    margin-left : 10%;
}

div.menu a{
        text-decoration:none;
        color:#000;
        display:inline;
}

div.menu ul{
    list-style-type:none;
    margin:0;
    padding:0;
    width: 50%;
    font-size: large;
} 

div.menu li{
    background-color:#81BEF7;
    border: 1px #0174DF solid;
    border-radius: 2px;
}
div.menu li ul{width: 100%;}
div.menu li:hover{
    background-color:#A9D0F5;
}

h1{
	color:#ff7f00;	
	text-align: left;
}

section1{
	
}

section2{

}

h2{
	color:#0174DF;
	text-align: left;
}

h3{
	color:#81BEF7;
	text-align: left;
	margin-left:10px;
}

p{
	text-align:justify;
	margin-left: 5px;
	margin-right: 5px;
}

error{
	color:#FF0000;
	text-align:justify;
	margin-left: 5px;
	margin-right: 5px;

}

.error_form{
        color:#FF0000;
    font-size: 14px;
}

#image{
  max-width:70%;
  border: none;
  text-align:center;
}

#image_max{
  max-width:900px;
  display:none;
}

/* header */

.banniere
{
	background-image: url("../utils/bandeau.jpg");
	width: 900px;
	height: 230px;
}


.copyright{
	font-size:10px;
	text-align: center;
	margin-bottom: 8px;
}



/*helpboxes in <li> elements*/
li.helpbox{
    position:relative; /*this is the key*/
    text-decoration:none;
}

li.helpbox span{display: none}

li.helpbox:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:120%;
    right:88%;
    width:100%;
    border:5px solid #819FF7;
    background-color:#81BEF7; color:#000;
    text-align: center;
    font-size : small;
    padding:10px;
    z-index:2;
  }

  li.helpbox:hover span:after{ /*the span will display just on :hover state*/
    content:'';
    position:absolute;
    top:-11px;
    width:10px;
    height:10px;
    border-top:5px solid #819FF7;
    border-left:5px solid #819FF7;
    background:#81BEF7;
    left:97%;
    margin-left:-3%;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    z-index:2;
  }
  /* for invisible buttons */
  button.invisible { 
      width:15%;
      background:none;
      border:none; 
      cursor:hand; 
      cursor:pointer;
  }
  
  /* generic helpboxes */
.hint{
    position:relative; /*this is the key*/
}
.hint span{display: none}

.hint:hover span{ /*the span will display just on :hover state*/
    display:inline;
    position:absolute;
    bottom:120%;
    left:65%;
    width:260px;
    border:5px solid #5882FA;
    background-color:#A9D0F5; color:#000;
    text-align: center;
    font-size : small;
    padding:5px;
  }

  .hint:hover span:after{ /*the span will display just on :hover state*/
    content:'';
    position:absolute;
    bottom:-11px;
    width:10px;
    height:10px;
    border-bottom:5px solid #5882FA;
    border-right:5px solid #5882FA;
    background:#A9D0F5;
    right:90%;
    margin-right:-3%;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
  }
  
 /* div for printing success message */ 
div.message{
    background-color : #81BEF7;
    padding : 10px;
    border : solid #819FF7;
    border-radius: 10px;
    width : 30%;
    margin-left:15%;
    text-align:center;
    position : fixed;
    top : 34%;
}
div.message.success{
    background-color : #B2FFB6;
    border : solid #088A08;
    color : #088A08;
}
div.message.error{
    background-color : #FF9494;
    border : solid #B80202;
    color : #B80202;
}
div.message img{
    position : absolute;
    top : 0%;
    right : 0%;
    cursor:hand; 
    cursor:pointer;
}
  
/*table*/
.classyTable {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
	
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
	
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
	
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}.classyTable table{
        table-layout: fixed;
	width:100%;
	margin:0px;padding:0px;
}.classyTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
}
.classyTable table tr:first-child th:first-child {
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}
.classyTable table tr:first-child th:last-child {
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
}.classyTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
}.classyTable tr:hover td{
	background-color:#ffffff;
		

}
.classyTable td{
	vertical-align:middle;
	
	background-color:#ffaa56;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:9px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.classyTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.classyTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.classyTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.classyTable tr:first-child th{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	
        background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
        
        overflow: hidden;
}
.classyTable tr:first-child:hover th{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	
        background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
}
.classyTable tr:first-child th:first-child{
	border-width:0px 0px 1px 0px;
}
.classyTable tr:first-child th:last-child{
	border-width:0px 0px 1px 1px;
}

/* Graphe sigmajs */
.sigma-graph {
    background: none repeat scroll 0 0 #222222;
    border-radius: 4px 4px 4px 4px;
    height: 500px;
    width: 900px;
    position: relative;
}

/* Carte leaflet */
#map {
    width: 900px;
    height: 400px;
}

/* tutorial part */

#tuto-nav {
    
    margin:0;
    padding:0;
    font-size: small;
    width : 100%;
}

div#tuto-arrow {
    left : 46%; 
    position : fixed; 
    bottom : 2%; 
    background-color:#ffaa56;
    border : solid 3px #ff7f00;
    border-radius:10px;
    z-index:2;
}

div#tuto-arrow img{
    cursor:hand; 
    cursor:pointer;
}

#tuto-nav span.focus{
    background-color : #2E9AFE;
}

#tuto-nav span:hover{
    background-color : #A9D0F5;
}

#tuto-nav span:first-child {
    left : 0%;
    width : auto;
}
#tuto-nav span:last-child {
    right : 0%;
    width : auto;
    
}

#tuto-nav span {
    left : auto;
    width : auto;
    padding : 3px;
    background-color : #81BEF7;
    border : 3px solid #819FF7;
    
}
#tuto-nav span a:link,#tuto-nav span a:visited {
    text-decoration:none;
    color : black;
}

div.subSection h3 {
    padding : 3px;
    color : black;
    background-color : #81BEF7;
    border : 3px solid #819FF7;
    margin-left : 0px;
    margin-bottom : 0px;
    width : 50%;
    cursor:hand; 
    cursor:pointer;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

div.subText {
    padding : 3px;
    background-color : #A9D0F5;
    border : 3px solid #819FF7;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
}

/* page numeration in lists */

a.currentPage {
    color : #ff7f00;
    font-weight : bold;
    background-color: #A9D0F5; 
    font-size : large;
}

a.otherPage {
    color : black;
    background-color: #A9D0F5; 
}

/* for annotation separators */
div.annotSeparator {
    border-bottom: solid 1px;
    margin-bottom: 3px; 
    margin-top: 3px;
}

